<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Pg"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                           AttachDbFilename=C:\Users\LENOVO\Desktop\lthdt\TrieuNgocHao_1150080050_BTTuan8\QuanLyBanSach.mdf;
                           Integrated Security=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>